body{
    width: 100%;
    height: calc(100%);
    /*background: #007bff;*/
}
main#main{
    width:100%;
    height: calc(100%);
    background:white;
}
#login-right{
    position: absolute;
    right:0;
    width:45%;
    height: calc(100%);
    background:white;
    display: flex;
    align-items: center;
}
#login-left{
    position: absolute;
    left:0;
    width:55%;
    height: calc(100%);
    background:#59b6ec61;
    display: flex;
    align-items: center;
}
#login-right .card{
    margin: auto
}
.logo {
margin: auto;
font-size: 8rem;
background: white;
padding: .5em 0.7em;
border-radius: 50% 50%;
color: #000000b3;
}

.footer {
    align-items: flex-end;
    position: relative;
    vertical-align: text-bottom;
}

.c {
    text-align: end;
    display: block;
}
#main {
    color: black;
}
.foot {
    display: inline-flex;
}
.title {
    text-align: center;
}

.sub {
    text-align: center;
    margin-bottom: 10%;
}
.form-check {
    float:left;
}
a {
    display: inline;
    float: right;
}
.sign {
    display: inline-flex;
}
.buttons {
    margin-top: 80px;
    width: 800em;
    /* position: relative; */
    display: block;
    margin-left: 10px;
}

.button-log {
    align-items: center;
    justify-content: center;
    position: absoulute;
    height: 20px;
    width: 60em;
    margin-bottom: 20px;
    /* float: left; */
}
.button-sign {
    height: 20px;
    width: 60em;
    /* float: right; */
}
.center {
    margin-top: 30px;
}
p {
    margin-left: 88px;
    margin-right: 88px;
    padding-right: 20px;
    padding-left: 34px;
    font-size: 11px;
}
/* .button-sign {
    position: absolute;
    display: inline;
    height: 50%;
    width: 30%;
    float: left;
} */